# Base de dados: Candidatos a vagas na mineradora de ouro

## Importando bibliotecas

In [207]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

## Importando base de dados

In [218]:
df = pd.read_csv("dados_candidatos.csv")
df

,Unnamed: 0,date,cheveux,age,exp,salaire,sexe,diplome,specialite,note,dispo,embauche
0,0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non,0
1,1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non,0
2,2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non,0
3,3,2011-07-01,brun,NaN,12.0,32442.0,M,licence,geologie,45.09,non,0
4,4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2012-03-10,roux,47.0,9.0,35723.0,M,licence,geologie,66.47,non,0
19996,19996,2010-09-19,chatain,38.0,10.0,33570.0,F,master,geologie,62.29,non,1
19997,19997,2010-09-02,chatain,23.0,6.0,33751.0,F,doctorat,detective,103.48,oui,0
19998,19998,2011-12-06,chatain,33.0,11.0,34167.0,F,licence,detective,73.35,non,0
19999,19999,2010-11-29,brun,35.0,14.0,44499.0,M,bac,geologie,45.62,non,0

## Limpando os dados

### Renomeando as colunas

In [219]:
df = df.rename(columns={'date': 'data',
                       'cheveux': 'cabelo', 
                        'age': 'idade',
                        'exp': 'experiencia',
                        'salaire': 'salario',
                        'sexe': 'sexo',
                        'diplome': 'diploma',
                        'specialite': 'especialidade',
                        'note': 'nota',
                        'dispo': 'disponibilidade',
                        'embauche': 'contratado',
                        'Unnamed: 0':'id'
                       })
                   
df

,id,data,cabelo,idade,experiencia,salario,sexo,diploma,especialidade,nota,disponibilidade,contratado
0,0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non,0
1,1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non,0
2,2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non,0
3,3,2011-07-01,brun,NaN,12.0,32442.0,M,licence,geologie,45.09,non,0
4,4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2012-03-10,roux,47.0,9.0,35723.0,M,licence,geologie,66.47,non,0
19996,19996,2010-09-19,chatain,38.0,10.0,33570.0,F,master,geologie,62.29,non,1
19997,19997,2010-09-02,chatain,23.0,6.0,33751.0,F,doctorat,detective,103.48,oui,0
19998,19998,2011-12-06,chatain,33.0,11.0,34167.0,F,licence,detective,73.35,non,0
19999,19999,2010-11-29,brun,35.0,14.0,44499.0,M,bac,geologie,45.62,non,0

### Renomeando os dados categóricos

In [220]:
df['sexo'].replace({"F": "Feminino",
                       "M":"Masculino",
                       "": "Não informado"}
                      , inplace = True)

df['diploma'].replace({"licence": "Licenciatura",
                           "bac":"Bacharelado",
                           "master": "Mestrado",
                           "doctorat": "Doutorado",
                           "": "Sem Formação"}
                      , inplace = True)

df["cabelo"].replace({"roux": "Ruivo",
                      "chatain": "Loiro Escuro",
                      "blond": "Loiro",
                      "brun": "Castanho",
                      "": "Não Informado"}
                     , inplace = True)

df["especialidade"].replace({"archeologie": "Arqueologia",
                             "detective": "Detetive",
                             "forage": "Perfuração",
                             "geologie": "Geologia",
                             "": "Sem Especialização"}
                            , inplace = True)

df["disponibilidade"].replace({"non": "Não",
                               "oui": "Sim"}
                              , inplace = True)

df["contratado"].replace({0: "Não",
                               1: "Sim"}
                              , inplace = True)

# Resultado
df

,id,data,cabelo,idade,experiencia,salario,sexo,diploma,especialidade,nota,disponibilidade,contratado
0,0,2012-06-02,Ruivo,25.0,9.0,26803.0,Feminino,Licenciatura,Geologia,97.08,Não,Não
1,1,2011-04-21,Loiro,35.0,13.0,38166.0,Masculino,Licenciatura,Perfuração,63.86,Não,Não
2,2,2012-09-07,Loiro,29.0,13.0,35207.0,Masculino,Licenciatura,Geologia,78.50,Não,Não
3,3,2011-07-01,Castanho,NaN,12.0,32442.0,Masculino,Licenciatura,Geologia,45.09,Não,Não
4,4,2012-08-07,Ruivo,35.0,6.0,28533.0,Feminino,Licenciatura,Detetive,81.91,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2012-03-10,Ruivo,47.0,9.0,35723.0,Masculino,Licenciatura,Geologia,66.47,Não,Não
19996,19996,2010-09-19,Loiro Escuro,38.0,10.0,33570.0,Feminino,Mestrado,Geologia,62.29,Não,Sim
19997,19997,2010-09-02,Loiro Escuro,23.0,6.0,33751.0,Feminino,Doutorado,Detetive,103.48,Sim,Não
19998,19998,2011-12-06,Loiro Escuro,33.0,11.0,34167.0,Feminino,Licenciatura,Detetive,73.35,Não,Não
19999,19999,2010-11-29,Castanho,35.0,14.0,44499.0,Masculino,Bacharelado,Geologia,45.62,Não,Não

### Removendo dados inválidos
Algumas variáveis da base de dados estão incoerentes, como idade negativa. Esse dados serão removidos.

In [221]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
id                 20000 non-null int64
data               19909 non-null object
cabelo             19897 non-null object
idade              19909 non-null float64
experiencia        19904 non-null float64
salario            19905 non-null float64
sexo               19900 non-null object
diploma            19890 non-null object
especialidade      19907 non-null object
nota               19886 non-null float64
disponibilidade    19894 non-null object
contratado         20000 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 1.8+ MB

In [222]:
# Removendo os valores nulos (NA, NaN...)
df = df[df['data'].notna()]
df = df[df['cabelo'].notna()]
df = df[df['idade'].notna()]
df = df[df['experiencia'].notna()]
df = df[df['salario'].notna()]
df = df[df['sexo'].notna()]
df = df[df['diploma'].notna()]
df = df[df['especialidade'].notna()]
df = df[df['nota'].notna()]
df = df[df['disponibilidade'].notna()]
df = df[df['contratado'].notna()]

# Idade não pode ser negativa
# Além disso, vamos considerar que pessoas com menos de 12 anos não estão trabalhando (idade mínima para trabalhar na França)
df = df[df['idade'] >= 12]

# Experiencia não pode ser menor que 0
df = df[df['experiencia'] >= 0]

# Nota não pode ser menor que 0
df = df[df['nota'] >= 0]

# Resultado
df

,id,data,cabelo,idade,experiencia,salario,sexo,diploma,especialidade,nota,disponibilidade,contratado
0,0,2012-06-02,Ruivo,25.0,9.0,26803.0,Feminino,Licenciatura,Geologia,97.08,Não,Não
1,1,2011-04-21,Loiro,35.0,13.0,38166.0,Masculino,Licenciatura,Perfuração,63.86,Não,Não
2,2,2012-09-07,Loiro,29.0,13.0,35207.0,Masculino,Licenciatura,Geologia,78.50,Não,Não
4,4,2012-08-07,Ruivo,35.0,6.0,28533.0,Feminino,Licenciatura,Detetive,81.91,Não,Não
5,5,2014-02-12,Loiro Escuro,37.0,8.0,38558.0,Masculino,Mestrado,Geologia,63.46,Não,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2012-03-10,Ruivo,47.0,9.0,35723.0,Masculino,Licenciatura,Geologia,66.47,Não,Não
19996,19996,2010-09-19,Loiro Escuro,38.0,10.0,33570.0,Feminino,Mestrado,Geologia,62.29,Não,Sim
19997,19997,2010-09-02,Loiro Escuro,23.0,6.0,33751.0,Feminino,Doutorado,Detetive,103.48,Sim,Não
19998,19998,2011-12-06,Loiro Escuro,33.0,11.0,34167.0,Feminino,Licenciatura,Detetive,73.35,Não,Não
19999,19999,2010-11-29,Castanho,35.0,14.0,44499.0,Masculino,Bacharelado,Geologia,45.62,Não,Não

### Convertendo tipos de dados

In [224]:
# Convertendo 'idade' e 'experiência' de float para int
df['idade'] = df['idade'].astype('int')
df['experiencia'] = df['experiencia'].astype('int')

# Resultado
df

,id,data,cabelo,idade,experiencia,salario,sexo,diploma,especialidade,nota,disponibilidade,contratado
0,0,2012-06-02,Ruivo,25,9,26803.0,Feminino,Licenciatura,Geologia,97.08,Não,Não
1,1,2011-04-21,Loiro,35,13,38166.0,Masculino,Licenciatura,Perfuração,63.86,Não,Não
2,2,2012-09-07,Loiro,29,13,35207.0,Masculino,Licenciatura,Geologia,78.50,Não,Não
4,4,2012-08-07,Ruivo,35,6,28533.0,Feminino,Licenciatura,Detetive,81.91,Não,Não
5,5,2014-02-12,Loiro Escuro,37,8,38558.0,Masculino,Mestrado,Geologia,63.46,Não,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2012-03-10,Ruivo,47,9,35723.0,Masculino,Licenciatura,Geologia,66.47,Não,Não
19996,19996,2010-09-19,Loiro Escuro,38,10,33570.0,Feminino,Mestrado,Geologia,62.29,Não,Sim
19997,19997,2010-09-02,Loiro Escuro,23,6,33751.0,Feminino,Doutorado,Detetive,103.48,Sim,Não
19998,19998,2011-12-06,Loiro Escuro,33,11,34167.0,Feminino,Licenciatura,Detetive,73.35,Não,Não
19999,19999,2010-11-29,Castanho,35,14,44499.0,Masculino,Bacharelado,Geologia,45.62,Não,Não